{% include "header.html" %}
<!--<form method="post">-->

<!--    <label for="meeting-time">Choose a time for your appointment:</label>-->
<!--    <input type="datetime-local" id="meeting-time"-->
<!--           name="meeting-time"-->
<!--           min="2022-06-07T00:00" max="2024-06-14T00:00">-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
<html>
    <head>
        <title>AutoComplete</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
        </script>

        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />
    </head>
</html>
<div class="container">
        <h3 class="mb-3">Book an Appointment</h3>
        <hr>
        <br>
<!--        <form method="post">-->
<!--            <label for="template">Use one of your pre-made templates?</label>-->
<!--            <select name="template" id="template">-->
<!--                <option value="template_type" name="submit">No</option>-->
<!--                {% for event in all_events: %}-->
<!--                <option value="template_type" name="submit">{{event["event_summary"]}}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--            <br>-->
<!--        <br>-->
<!--        </form>-->
        {% if client_chosen: %}
        <form method="post">
            <div class="row g-3">
            <div class="col-sm-3">
                <br>
              <label for="Name2" class="form-label">Name</label>
              <input type="text" class="form-control" id="Name2" readonly value="{{ selected_client.first_name }} {{ selected_client.last_name }}" placeholder="{{ selected_client.first_name}} {{ selected_client.last_name }}" name="name">
            </div>
            </div>
            <div class="row g-3">
            <div class="col-sm-3">
            <br>
              <label for="title2" class="form-label">Event Title</label>
              <input type="text" class="form-control" id="title2" readonly value="{{ selected_event.event_summary }}" placeholder="{{ selected_event.event_summary }}" name="title">
            </div>
            </div>
            <br>
            <div class="col-4">
              <label class="form-label">Attendees Email</label>
              <input type="email" class="form-control" readonly placeholder="{{ selected_client.email}}" value="{{ selected_client.email}}" name="attendees_email">
            </div>
            <div class="col-4">
                <br>
            <label class="form-label">Attendees Phone Number</label>
              <input type="tel" class="form-control" readonly value="{{ selected_client.phone_number }}" placeholder="{{ selected_client.phone_number }}" name="attendees_phone_number">
            </div>
            <br>

            <div class="input-group col-12">
              <span class="input-group-text">Description</span>
              <textarea class="form-control" style="resize:none" rows="1" name="appointment_description">{{ selected_event.description }}</textarea>
            </div>
            <br>
            <div class="input-group col-12">
              <span class="input-group-text">Location</span>
              <textarea class="form-control" style="resize:none" rows="1" name="appointment_location">{{ selected_event.location }}</textarea>
            </div>
            <br>
            <div class="row g-3">
            <div class="col-sm-3">
                <br>
              <label for="color2" class="form-label">Event Color</label>
              <input type="text" class="form-control" id="color2" readonly value="{{ color }}" placeholder="{{ selected_event.color}}" name="color">
            </div>
            </div>
                <div>
                    <label for="meeting-time2">Choose a time for your appointment:</label><br>
                    <input style="margin-top: 15px" type="datetime-local" id="meeting-time2"
                           name="meeting-time"
                           min="2022-06-07T00:00" max="2024-06-14T00:00">
                </div>
                <br>
            <div>
                    <label for="meeting-duration2">How long will this appointment be?</label><br>
                    <input style="margin-top: 15px; width: 4%" type="number" readonly value="{{ selected_event.duration }}" placeholder="{{ selected_event.duration }}" id="meeting-duration2" name="meeting-duration"> minutes
                </div>
            <br>
            <button type="submit" style="margin:40px 25%" class="btn btn-primary col-6" name="btn2" value="book_call">Create Appointment</button>
        </form>
{% else: %}
    <div>
        <form method="post">
            <label for="tags">Search for a client:</label><br>
            <input type="text" placeholder="Type name here..." id="tags" name="client_search">
            <script>
              $( function() {
                var availableTags = [
                    {% for client in all_clients %}
                        "{{client["first_name"]}} {{client["last_name"]}}",
                    {% endfor %}
                ];
                $( "#tags" ).autocomplete({
                  source: availableTags
                });
              } );
            </script>
            <button type="submit" class="btn btn-light" name="btn2" value="add_client">Add</button>
        </form>
        <form method="post">
            <div class="row g-3">
            <div class="col-sm-3">
                <br>
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="John Doe" name="name">
            </div>
            </div>
            <div class="row g-3">
            <div class="col-sm-3">
            <br>
              <label for="title" class="form-label">Event Title</label>
              <input type="text" class="form-control" id="title" readonly value="{{ selected_event.event_summary }}" placeholder="{{ selected_event.event_summary }}" name="title">
            </div>
            </div>
            <br>
            <div class="col-4">
              <label class="form-label">Attendees Email</label>
              <input type="email" class="form-control" placeholder="john.doe@example.com" name="attendees_email">
            </div>
            <div class="col-4">
                <br>
            <label class="form-label">Attendees Phone Number</label>
              <input type="tel" class="form-control" placeholder="+44 1234 567890" name="attendees_phone_number">
            </div>
            <br>
            <div class="input-group col-12">
              <span class="input-group-text">Description</span>
              <textarea class="form-control" style="resize:none" rows="1" name="appointment_description">{{ selected_event.description }}</textarea>
            </div>
            <br>
             <div class="input-group col-12">
              <span class="input-group-text">Location</span>
              <textarea class="form-control" style="resize:none" rows="1" placeholder="e.g. Pure Gym, Zoom, Phone Call" name="appointment_location">{{ selected_event.location }}</textarea>
            </div>
            <br>
            <div class="row g-3">
            <div class="col-sm-3">
                <br>
              <label for="color" class="form-label">Event Color</label>
              <input type="text" class="form-control" id="color" readonly value="{{ color }}" placeholder="{{ color}}" name="color">
            </div>
            </div>
                <div>
                    <label for="meeting-time">Choose a time for your appointment:</label><br>
                    <input style="margin-top: 15px" type="datetime-local" id="meeting-time"
                           name="meeting-time"
                           min="2022-06-07T00:00" max="2024-06-14T00:00">
                </div>
                <br>
            <div>
                    <label for="meeting-duration">How long will this appointment be?</label><br>
                    <input style="margin-top: 15px; width: 4%" type="number" readonly value="{{ selected_event.duration }}" placeholder="{{ selected_event.duration }}" id="meeting-duration" name="meeting-duration"> minutes
                </div>
            <br>
            <button type="submit" style="margin:40px 25%" class="btn btn-primary col-6" name="btn2" value="book_call">Create Appointment</button>
        </form>
    </div>
{% endif %}
</div>